.row{
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: 2%;
    margin-left: 23%;
    margin-top: 3%;
}
.button{
    display: flex;
    justify-content: center;
}
.back_button{
    button{
        margin: 5px;
    }
}
.send{
    margin-left: 12px;
}
.h1{
    display: flex;
    justify-content: center;
    color: #007bff;
    margin-top: 14px;
}